In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
from sqlalchemy import create_engine, inspect

# Reflect Tables into SQLAlchemy ORM

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [8]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
Measurement = Base.classes.measurement

Station = Base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# Use Inspector to get column names
inspector = inspect(engine)
inspector.get_table_names()

m_columns = inspector.get_columns('measurement')
for column in m_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [12]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [13]:
s_columns = inspector.get_columns('station')
for column in s_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [14]:
engine.execute('SELECT * FROM station LIMIT 9').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

# Exploratory Climate Analysis

In [15]:
 # Statistical analysis
from scipy import stats
from numpy import mean

In [16]:
 # Create Database Connection
#engine = create_engine("sqlite:///Resources/hawaii.sqlite")
#Base.metadata.create_all(engine)

#from sqlalchemy.orm import Session
#session = Session(bind=engine)

In [17]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database
session.query(Measurement.date).order_by(Measurement.date.desc()).first()
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print("Query Date: ", query_date)

date = dt.datetime(2016, 8, 23)

# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.date, Measurement.prcp).\
filter(Measurement.date > date).filter(Measurement.prcp).all()

results

# Save the query results as a Pandas DataFrame and set the index to the date column

df = pd.DataFrame(results, columns=['date', 'prcp'])

df.set_index('date', inplace=True)

df

# Sort the dataframe by date

prcp_df = df.sort_index(axis=0, level=None, ascending=True)

prcp_df

# Use Pandas Plotting with Matplotlib to plot the data

#df.plot.scatter(prcp_df.index.values, prcp_df['prcp'], c = 'DarkBlue')
#plt.tight_layout()
#plt.show()

Query Date:  2016-08-23

            prcp
date
2016-08-24  0.08
2016-08-24  2.15
2016-08-24  1.22
2016-08-24  1.45
2016-08-24  2.15
...          ...
2017-08-21  0.02
2017-08-21  0.56
2017-08-22  0.50
2017-08-23  0.08
2017-08-23  0.45

[1142 rows x 1 columns]

In [18]:
# Use Pandas to calcualte the summary statistics for the precipitation data

prcp_df.describe()

              prcp
count  1142.000000
mean      0.311357
std       0.576134
min       0.010000
25%       0.030000
50%       0.100000
75%       0.310000
max       6.700000

In [19]:
# Design a query to show how many stations are available in this dataset?

stations = session.query(Station.station).count()

stations

9

In [20]:
engine.execute('SELECT * FROM station LIMIT 9').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [21]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

  sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()

sel = [Station.station, Station.name, Measurement.station]
sel_station = session.query(*sel).filter(Station.station == Measurement.station).all()

sel_station

sel = 
USC00519397 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00519397')
USC00519397

USC00513117 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00513117')
USC00513117

USC00514830 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00514830')
USC00514830

USC00517948 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00517948')
USC00517948

USC00518838 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00518838')
USC00518838

USC00519523 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00519523')
USC00519523

USC00519281 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00519281')
USC00519281

USC00511918 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00511918')
USC00511918

USC00516128 = session.query(func.count(Measurement.station)).filter(Measurement.station == 'USC00516128')
USC00516128

print(f"WAIKIKI: {USC00519397}
        KANEOHE: {USC00513117}
        KUALOA RANCH HEADQUARTERS: {USC00514830}
        PEARL CITY: {USC00517948}
        UPPER WAHIAWA: {USC00518838}
        WAIMANALO EXPERIMENTAL FARM: {USC00519523}
        WAIHEE: {USC00519281}
        HONOLULU OBSERVATORY: {USC00511918}
        MANOA LYON ARBO: {USC00516128}")

SyntaxError: EOL while scanning string literal (<ipython-input-21-735ed9862894>, line 36)

In [27]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
session.query(*sel).filter(Measurement.station == 'USC00519397').all()

[(56.0, 74.55323054331865, 87.0)]

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

results = session.query(Measurement.date, Measurement.tobs).\
filter(Measurement.station == 'USC00513117').\
filter(Measurement.date > date).filter(Measurement.prcp).all()

results

#matplotlib.pyplot.hist(x, bins=None, range=None, density=False, weights=None, cumulative=False, 
                       #bottom=None, histtype='bar', align='mid', orientation='vertical', rwidth=None, 
                       #log=False, color=None, label=None, stacked=False, data=None)

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`